[temperature_sensor can0]
sensor_type: Generic 3950
sensor_pin: can0: PA2

[temperature_sensor Octopus]
sensor_type: temperature_mcu
max_temp: 90

[temperature_sensor stepper_x]
sensor_type: temperature_driver
sensor_driver: tmc2240 stepper_x
min_temp: 10
max_temp: 100

[temperature_sensor stepper_y]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor stepper_z]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor extruder]
sensor_type: temperature_host
#sensor_mcu: can0
min_temp: 10
max_temp: 100